<!DOCTYPE html>
{% load static %}

<html lang='en'>

{% block header %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {% block head_title %}
          <title> Secur-A-Team | Notification System </title>
        {% endblock %}

        {% block head_stylesheets %}
        {% endblock %}

        {% block head_javascript %}
        {% endblock %}

        {% block head_fonts %}
        {% endblock %}
    </head>
{% endblock %}

<body>
    {% block body_header %}
    {% endblock %}

    {% block body_content %}
    {% endblock %}

    {% block body_footer %}
    {% endblock %}

    {% block body_scripts %}
    {% endblock %}
</body>
</html>
