{% extends "home/base.html" %}
{% load static %}
{% load tz %}

{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "home/home.css" %}"/>
{% endblock %}

{% block head_javascript %}
{% endblock %}

{% block body_content %}
    <div class="banner-container">
        <div class="banner-item">
            <h1>Homepage | Notifications</h1>
        </div>
        <div class="banner-item">
            <a href="{% url 'home:homepage' %}">
                Home
            </a>
        </div>
        <div class="banner-item">
            <a href="{% url 'settings:settings-page' %}">
                Settings
            </a>
        </div>
    </div>

    <br>
    <div class="notification-section">
        {% for device in devices %}
            <details>
                <summary> {{ device.mac_address }} </summary>
                {% localtime on %}
                    {% for notification in device.notifications %}
                        <li>
                            <br> Date Created: {{ notification.date_created }}
                            <br> Attack: {{ notification.attack }}
                            <br> Source Address: {{ notification.source_address }}
                            <br> Threat Level: {{ notification.threat_level }}
                        </li>
                    {% endfor %}
                {% endlocaltime %}
            </details>
        {% endfor %}
    </div>

{% endblock %}
