{% extends "home/base.html" %}
{% load static %}
{% load tz %}

{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "home/home.css" %}"/>
{% endblock %}

{% block head_javascript %}
{% endblock %}

{% block body_content %}
    <div class="banner-container">
        <div class="banner-item">
            <h1>Homepage | Notifications</h1>
        </div>
        <div class="banner-item">
            <a href="{% url 'home:homepage' %}">
                Home
            </a>
        </div>
        <div class="banner-item">
            <a href="{% url 'settings:settings-page' %}">
                Settings
            </a>
        </div>
    </div>

    <br>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Loop through the different Attacks -->
            {% for attack in attacks %}

                <!-- Print out each Attack with a checkbox for turning on/off its detection status -->
                {% if attack.detection is True %}
                    <input type="checkbox" name="{{ attack.name }}" checked> {{ attack.name }}
                {% else %}
                    <input type="checkbox" name="{{ attack.name }}"> {{ attack.name }}
                {% endif %}
                <br>

            {% endfor %}

            <br><input name="submit-settings" type="submit" value="UPDATE">
        </form>
        <br>
    </div>

{% endblock %}
